#######################################################################################
#                                                                                     #
#                                  General Settings                                   #
#                                                                                     #
#######################################################################################

AIRFLOW_UID=1000
AIRFLOW_GID=1000
AIRFLOW__CORE__LOAD_EXAMPLES=True
# token for your telegram bot (obtained from botfather)

SHHH_API_KEY=YOUR_BOT_TOKEN_HERE
SHHH_MY_CHAT_ID=YOUR_CHAT_ID_HERE