opencv-python
Pillow
scikit-image
scikit-learn
scipy
webcolors
cyrtranslit
Werkzeug
anyio
certifi
exceptiongroup
h11
httpcore
httpx
idna
sniffio
typing_extensions
pyyaml
coloredlogs
slugify
pathvalidate
matplotlib
requests