<!doctype html>
<html>
<head>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
  <title>DayColor</title>
  
</head>
<body>
  
  <script type="text/javascript" charset="utf-8">

    var server = window.location.protocol + "//" + window.location.host;
    console.log(server)
    
    var socket = io();

    var counter = 0
    var tag = 0
    var imgs = 0
    var start_time = (new Date).getTime()
    var inited = false


    socket.on('connect', function() {  
      window.setInterval(function () {
          counter += 1
          start_time = (new Date).getTime();
          socket.emit('my_ping');
      }, 250);
    });

    socket.on('my_pong', function () {
      const latency = (new Date).getTime() - start_time;
      $('#latency').html(latency);
      $('#counter').html(counter);
    });
    
    socket.on('tags', function(tags) {
      //console.log("tags", tags)
        $('#tag').html(tags.join(",")); 
      // update UI with new data
    });

    socket.on('tags_restart', function() {
      console.log("tags_restart");
      location.reload();
    });

    socket.on('switch_page', function(url) {
      //alert("switch apege")
      console.log("switch_page", url);
      window.location=url;
      location.reload();
    });      

    socket.on('word', function(data) {
      //alert("switch apege")
      console.log("word", data[0], data[1]);
      log_str = "word " + str(data[0]) + " "+ str(data[1]);
      log_msg(log_str);
    });

    socket.on('data', function(data) {
      console.log("data", data)
      // update UI with new data
    });    

    socket.on('disconnect', function() {
      console.log('Disconnected from server');
    });

    if (inited == false) {
      inited = true
    }
    
    function log_msg(msg) {
      var log_view = document.getElementById('log'); 
      log_view.innerHTML = msg + "<br />" + log_view.innerHTML;
    }


  </script>

  <div id="debug">
    <a href="/help">counter:<span id="counter"></span> | latency:<span id="latency"></span> | tag:<span id="tag"></span></a>
  </div>

  <div id="log"></div>

  <div class="errors"></div>
  
</body>
</html>