[Unit]
Description=Telegram Bot Service
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Restart=always
WorkingDirectory=/home/jay/bot
ExecStart=/usr/bin/python3 /home/jay/bot/bot.py
RestartSec=10

[Install]
WantedBy=multi-user.target